node_modules
.next
.git
.gitignore
.vscode
coverage
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.DS_Store
.env
.env.*
*.local
*.pid
*.log
README.md
run_test.sh
test_folder
patch*.js
patch.py
refactor.mjs
scripts/test*.js
